{% extends "forum/base.html" %}
{% load i18n %}

{% block title %}Forum Index{% endblock title %}

{% block content %}


    

{% for forum in forums %}
    <a href=" {{ forum.id }}"><h2>{{ forum }}</h2></a>
    <p>Dernier message:<br> {{forum.last_post}}</p>
    <p>Topic: {{ forum.topics.count }}</p>
    <p>Posts: {{ forum.posts.count }}</p>
{% endfor %}
<br>
<p>{% trans "Total Subjects:" %} {{ total_topic_count }}</p>
<p>{% trans "Total Posts:" %} {{ total_post_count }}</p>

{% endblock content %}